<!-- car.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/car.css')}}">
    <title>car.html</title>
</head>
<body>
    

    {% include 'header.html' %}
        <h1>분석 개요</h1>
        <h2>서울특별시 전기차 증가 추이</h2>
    

    <div>
        <img src="../static/img/car.png">
    </div>

  
        
</body>
</html>