<!-- traffic.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traffic.html</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/traffic.css')}}">
</head>
<body>
    {% include 'header.html' %}

      
            <h1>서울특별시 지역 특성 분석</h1>
            <h2>시간대별 도로 교통량</h2>
       

        <div>
            <img src="../static/img/book.png">
            <img src="../static/img/bun.png">
            <img src="../static/img/dong.png">
            <img src="../static/img/gang_nam.png">
            <img src="../static/img/gang.png">
            <img src="../static/img/gyeong.png">
            <img src="../static/img/inner.png">
            <img src="../static/img/olympic.png">
            <img src="../static/img/seo.png">
        </div>

       

</body>
</html>
